
.activity-container .base-block{
    padding: 10px 0 10px 45px;
    border-bottom: 1px solid #f1f1f1;
    @f16; @xo; $bg:@success;
}
.activity-container .base-block .-avatar{
    top: 15px;
}
.activity-container .base-block .symbol-icon{
    right: 10px;
    bottom: 10px;
    top: initial;
}